
@font-face {
	font-family: 'Iosevka Term SS16 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS16-Thin.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS16-Thin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS16 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS16-ExtendedThin.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS16-ExtendedThin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS16 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS16-ThinOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS16-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS16 Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS16-ThinOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS16-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS16 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS16-ExtendedThinOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS16-ExtendedThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS16 Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaTermSS16-ExtendedThinOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS16-ExtendedThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS16 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS16-ThinItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS16-ThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS16 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS16-ExtendedThinItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS16-ExtendedThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS16 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS16-ExtraLight.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS16-ExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS16 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS16-ExtendedExtraLight.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS16-ExtendedExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS16 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS16-ExtraLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS16-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS16 Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS16-ExtraLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS16-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS16 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS16-ExtendedExtraLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS16-ExtendedExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS16 Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaTermSS16-ExtendedExtraLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS16-ExtendedExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS16 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS16-ExtraLightItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS16-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS16 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS16-ExtendedExtraLightItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS16-ExtendedExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS16 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS16-Light.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS16-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS16 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS16-ExtendedLight.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS16-ExtendedLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS16 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS16-LightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS16-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS16 Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS16-LightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS16-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS16 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS16-ExtendedLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS16-ExtendedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS16 Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaTermSS16-ExtendedLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS16-ExtendedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS16 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS16-LightItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS16-LightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS16 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS16-ExtendedLightItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS16-ExtendedLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS16 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS16-Regular.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS16-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS16 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS16-Extended.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS16-Extended.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS16 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS16-Oblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS16-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS16 Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS16-Oblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS16-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS16 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS16-ExtendedOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS16-ExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS16 Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaTermSS16-ExtendedOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS16-ExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS16 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS16-Italic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS16-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS16 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS16-ExtendedItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS16-ExtendedItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS16 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS16-Medium.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS16-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS16 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS16-ExtendedMedium.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS16-ExtendedMedium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS16 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS16-MediumOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS16-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS16 Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS16-MediumOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS16-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS16 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS16-ExtendedMediumOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS16-ExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS16 Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaTermSS16-ExtendedMediumOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS16-ExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS16 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS16-MediumItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS16-MediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS16 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS16-ExtendedMediumItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS16-ExtendedMediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS16 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS16-SemiBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS16-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS16 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS16-ExtendedSemiBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS16-ExtendedSemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS16 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS16-SemiBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS16-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS16 Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS16-SemiBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS16-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS16 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS16-ExtendedSemiBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS16-ExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS16 Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaTermSS16-ExtendedSemiBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS16-ExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS16 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS16-SemiBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS16-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS16 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS16-ExtendedSemiBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS16-ExtendedSemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS16 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS16-Bold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS16-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS16 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS16-ExtendedBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS16-ExtendedBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS16 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS16-BoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS16-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS16 Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS16-BoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS16-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS16 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS16-ExtendedBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS16-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS16 Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaTermSS16-ExtendedBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS16-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS16 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS16-BoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS16-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS16 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS16-ExtendedBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS16-ExtendedBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS16 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS16-ExtraBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS16-ExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS16 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS16-ExtendedExtraBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS16-ExtendedExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS16 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS16-ExtraBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS16-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS16 Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS16-ExtraBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS16-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS16 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS16-ExtendedExtraBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS16-ExtendedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS16 Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaTermSS16-ExtendedExtraBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS16-ExtendedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS16 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS16-ExtraBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS16-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS16 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS16-ExtendedExtraBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS16-ExtendedExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS16 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS16-Heavy.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS16-Heavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS16 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS16-ExtendedHeavy.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS16-ExtendedHeavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS16 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS16-HeavyOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS16-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS16 Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS16-HeavyOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS16-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS16 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS16-ExtendedHeavyOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS16-ExtendedHeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS16 Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaTermSS16-ExtendedHeavyOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS16-ExtendedHeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS16 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS16-HeavyItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS16-HeavyItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS16 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS16-ExtendedHeavyItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS16-ExtendedHeavyItalic.ttf') format('truetype');
}
